* {
    padding: 0;
    margin: 0;
}

body,
html {
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

.welcome {
    background-color: #FDEA18;
    width: 100vw;
    height: 100vh;
}

.heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    width: max-content;
    margin: 0 auto;
}

.heading-container h1 {
    font-size: 50px;
}

.heading-container span {
    margin-top: -7px;
    font-size: 16px;
    margin-bottom: 8px;
}

.heading-container h4 {
    font-size: 18px;
    margin-bottom: -7px;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
}

.textContianer {
    z-index: 999;
}

.action-container {
    position: absolute;
    bottom: 50px;
    right: 50px;
    z-index: 99;
    display: flex;
    width: 120px;
    justify-content: space-between;
}

.btn {
    padding: 15px;
    outline: none;
    border: none;
    transition: .3s ease-in-out;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 15px;
    line-break: strict;
    word-break: keep-all;
}

.btn-secondary {
    box-shadow: -5px 0px 20px 0px #35353550;
    background-color: #FDEA18;
    display: flex;
    align-items: center;
}

.btn-primary {
    background-color: #0ca5e6;
    color: #fff;
    display: flex;
    align-items: center;
}

.rounded {
    border-radius: 100px;
}

.play {
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-align: center;
    background-clip: padding-box;
    border: 4px solid transparent;
    box-shadow: 0 0 0 2px #0ca5e6;
}

.play:hover {
    width: 232px;
    transition: width .3s;
    border: 0px solid transparent;
}

.play::after {
    content: "";
    width: 216px;
    display: none;
}

.play:hover::after {
    content: "get the experience";
    display: inline-block;
    line-break: strict;
    word-break: keep-all;
}

.spacer {
    margin: 30px 0;
}

#progressbar {
    height: 10px;
    margin-top: 40px;
}

@media (max-width: 675px) {
    .heading-container {
        width: 100%;
    }
    .heading-container h1 {
        font-size: 40px;
    }
    .play::after {
        content: "get the experience";
        display: inline-block;
        line-break: strict;
        word-break: keep-all;
    }
    .play {
        width: 240px;
    }
}